<div class="container">
    <div class="col-sm-7 ">
        <div id="canvas" class="well">
            <iframe src="editorws.html" frameborder="0" id="sketch" class="sketcher-frame" width = 100% height = "600"></iframe>
        </div>
    </div>
    <div  class="col-sm-4 ">
        <button type="button" class="btn btn-danger pull-right" ng-click='startOpTour()'>Demonstrate the tool</button>
        <div id="op-form">
        <h4>Operator Name</h4>
        <input id="opName" type='text' class="form-control" ng-model='operatorName'>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reactants</h3>
            </div>
            <table class="table">
                <tbody>
                <tr ng-repeat="r in reactants track by $index">
                    <td>{{r}}</td>
                    <td class="text-right"><button class="btn  btn-sm btn-danger" ng-click="removeRow(reactants, $index)">
                        <span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Products</h3>
            </div>
            <table class="table">
                <tbody>
                <tr ng-repeat="p in products track by $index">
                    <td>{{p}}</td>
                    <td class="text-right"><button class="btn  btn-sm btn-danger" ng-click="removeRow(products, $index)">
                        <span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                </tbody>
            </table>
            </div>
        <div id="compoundSelect" class="form-group">
            <select class="form col-sm-6" ng-model="compoundChoice" ng-options="c.name for c in cofactors"></select>
            <input type='text' class="form col-sm-6" ng-model='indices' placeholder="Enter Atom Indices">
        </div>
        <div id="compoundAdd" class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="addItem(reactants, compoundChoice.name)">Add Reactant</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="addItem(products, compoundChoice.name)">Add Product</button>
            </div>
        </div>
        <h4>Comments</h4>
        <textarea class="form-control" rows="3" ng-model="comments" placeholder="eg. designed to cover reactions 1.1.1.32..."></textarea>
        <br>
        <div id="bottom-btns" class="btn-group btn-group-justified">
            <div class="btn-group">
                <button id="btn-setR" type="button" ng-class="buttonColor('mrvReactants')" ng-click="mrvIO('mrvReactants')">Set Reactants</button>
            </div>
            <div class="btn-group">
                <button type="button" ng-class="buttonColor('mrvProducts')" ng-click="mrvIO('mrvProducts')">Set Products</button>
             </div>
            <div class="btn-group">
                <button type="button" ng-class="buttonColor('operator')" ng-click="buildOp()">Generate</button>
            </div>
        </div>
        <a href="http://www.chemaxon.com"><img border="0" src="http://www.chemaxon.com/images/powered_100px.gif" alt="ChemAxon" ></a>
        <div ng-if="tour">
        <div class="hide" ng-joy-ride="startJoyRide" config="tourConfig" on-finish="onFinish()"  on-skip="onFinish()"></div>
        </div>
    </div>
    </div>
</div>