<h2>Download MINE data</h2>
<!--EcoCyc-->
<div class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">Entire CD-MINE</span></div>
    <div class="panel-body">
        <div class="col-md-5">
            <h4>Chemical Structures</h4>
            <ul>
                <li><a href="{{structure_src+'CDMINE-17-03-15.sdf.zip'}}">CD-MINE.sdf.zip</a></li>
                <li><a href="{{structure_src+'CDMINE-17-03-15.smiles.zip'}}">CD-MINE.smiles.zip</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Simulated Spectra</h4>
            <ul>
                <li><a href="{{structure_src+'Positive_CFM_Spectra.msp.zip'}}">Positive_CFM_Spectra.msp.zip</a></li>
                <li><a href="{{structure_src+'Negative_CFM_Spectra.msp.zip'}}">Negative_CFM_Spectra.msp.zip</a></li>
            </ul>
        </div>
    </div>
</div>