<h2>Download MINE data</h2>
<!--EcoCyc-->
<div class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">EcoCyc MINE</span></div>
    <div class="panel-body">
        <div class="col-md-5">
            <h4>Chemical Structures</h4>
            <ul>
                <li><a href="{{structure_src+'EcoCycMINE.sdf.zip'}}">EcoCycMINE.sdf.zip</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Simulated Spectra</h4>
            <ul>
                <li><a href="{{spectra_src+'EcoCyc/Positive_CFM_Spectra.msp.zip'}}">Positive_CFM_Spectra.msp.zip</a></li>
                <li><a href="{{spectra_src+'EcoCyc/Negative_CFM_Spectra.msp.zip'}}">Negative_CFM_Spectra.msp.zip</a></li>
            </ul>
        </div>
    </div>
</div>
<!--YMDB-->
<div id="ymdb-panel" class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">YMDB MINE</span></div>
    <div class="panel-body">
        <div class="col-md-5">
            <h4>Chemical Structures</h4>
            <ul>
                <li><a href="{{structure_src+'YMDBMINE.sdf.zip'}}">YMDBMINE.sdf.zip</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Simulated Spectra</h4>
            <ul>
                <li><a href="{{spectra_src+'YMDB/Positive_CFM_Spectra.msp.zip'}}">Positive_CFM_Spectra.msp.zip</a></li>
                <li><a href="{{spectra_src+'YMDB/Negative_CFM_Spectra.msp.zip'}}">Negative_CFM_Spectra.msp.zip</a></li>
            </ul>
        </div>
    </div>
</div>
<!--KEGG-->
<div class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">KEGG MINE</span></div>
    <div class="panel-body">
        <div class="col-md-5">
            <h4>Chemical Structures</h4>
            <ul>
                <li><a href="{{structure_src+'KEGGMINE1.sdf.zip'}}">KEGGMINE1.sdf.zip</a></li>
                <li><a href="{{structure_src+'KEGGMINE2.sdf.zip'}}">KEGGMINE2.sdf.zip</a></li>
                <li><a href="{{structure_src+'KEGGMINE3.sdf.zip'}}">KEGGMINE3.sdf.zip</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Simulated Spectra</h4>
            <ul>
                <li><a href="{{spectra_src+'KEGG/Positive_CFM_Spectra.msp.zip'}}">Positive_CFM_Spectra.msp.zip</a></li>
                <li><a href="{{spectra_src+'KEGG/Negative_CFM_Spectra.msp.zip'}}">Negative_CFM_Spectra.msp.zip</a></li>
            </ul>
        </div>
    </div>
</div>