<div class="jumbotron" style="background-color: rgb(232, 240, 240);">
    <div class="container">
        <h2><span class="text-info">M</span>etabolic <span class="text-info">I</span>n Silico <span
                class="text-info">N</span>etwork <span class="text-info">E</span>xpansion Databases (v2.0)</h2>
        <div class="row">
            <div class="col-sm-3 ">
                <img border="0" src="img/Gold-Miner-Icon.png" alt="Miner" width="150">
            </div>
            <div class="col-sm-9">
                <p>
                    Welcome to the home of MINE databases, version 2.0! MINE databases expand the known metabolome
                    using the pickaxe reaction prediction framework. In MINE 2.0, we have rebuilt all MINE databases
                    with a <a href="https://www.sciencedirect.com/science/article/pii/S1096717621000288">new set</a> of
                    reaction rules which cover significantly more biochemistry than the rules used in <a
                        href="https://minedatabase.mcs.anl.gov/#/home">MINE 1.0</a>. If it's your first time on
                    the website, we recommend taking one of the tours below.
                    Access to the database is also possible through a <a
                        href="https://mine-api.readthedocs.io/en/latest/">REST API</a>.
                </p>

                <p style="font-size: medium;">Note: the Safari browser is not fully supported at this time.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary" ng-click=startGeneralTour() style="cursor: pointer;" analytics-on="click"
                analytics-category="Tour" analytics-event="General Website Tour">
                <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">General Website Tour</span>
                </div>
                <div class="panel-body">
                    <p style="font-size: 13pt">
                        Learn how to search the database with chemical identifiers or compound structures and
                        explore data on MINE compounds and view computational predicted reactions.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary" ng-click=startMetabolomicsTour() style="cursor: pointer;"
                analytics-on="click" analytics-category="Tour" analytics-event="Metabolomics Tour">
                <div class="panel-heading"><span class="panel-title" style="font-size: 15pt">Metabolomics Tour</span>
                </div>
                <div class="panel-body">
                    <p style="font-size: 13pt">
                        Learn how to search the database with mass/charge ratio data and explore and sort the
                        resulting putative identifications.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="pull-right" href="http://www.chemaxon.com">
        <img width="300" border="0" src="./img/powered_by_chemaxon_GOLD_M.png" alt="ChemAxon">
    </a>
</div>