<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>MS Adduct Search</h2></div>
        <div class="panel-body">
            <div class="col-sm-5 ">
                <div class="form-group">
                    <label>Peak M/Z</label>
                    <textarea id="trace" ng-model="trace" class="form-control" rows="12"></textarea>
                    <div id="upload-file" class="input-group">
                        <input type='file' class="form-control" multiple='false' id='metFile'>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="uploadFile('metFile')">Upload</button>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 ">
                <label>Charge </label>
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-default" id='pos-radio'
                           ng-model="charge" ng-checked="charge"
                           btn-radio="true"> Positive
                    </label>
                    <label class="btn btn-default" id='neg-radio'
                           btn-radio="false" ng-model="charge"> Negative
                    </label>
                </div>
                <br>
                <label>Adducts <span tooltip-trigger tooltip="Select a range of adducts with Shift+Click or select
                multiple individual adducts with Control(Command)+Click" tooltip-placement="right"
                                     class="glyphicon glyphicon-question-sign"></span></label>

                <select class="form-control" id="adducts" size="10" multiple ng-model="adducts"
                        ng-options="s for s in adduct_list"></select>
            </div>
            <div class="col-sm-4 ">
                <div id="tolerance" class="form-inline">
                    <label>Tolerance </label><br>
                    <div class="form-group">
                        <input type="number" class="form-control" name="input" ng-model="tolerance" min="0" max="15">
                        <div class="form-control">
                            <label class="radio-inline">
                                <input type="radio"  ng-value="false" ng-model="ppm" ng-checked="!ppm">
                                mDa
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-value="true" ng-model="ppm">
                                PPM
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <label>Filter results by logP <input type="checkbox" ng-model="filterLogP" ng-checked="filterLogP"></label>
                <div range-slider min="-35" max="35" decimal-places="1"
                     model-min="logP[0]" model-max="logP[1]" disabled="!filterLogP" show-values="true"></div>
                <label>Filter results by Kovats RI <input type="checkbox" ng-model="filterKovats" ng-checked="filterKovats"></label>
                <div range-slider min="0" max="20000" model-min="kovats[0]"
                     model-max="kovats[1]" disabled=!filterKovats show-values="true"></div>
                <div id="halogen">
                    <label>Halogenated compounds <input type="checkbox" ng-model="halogens" ng-checked="0">
                    </label>
                </div>
                <button id="ms-search-button" class="btn btn-block btn-default" style="margin: 0 auto;" ng-disabled='!adducts.length' ng-click="metSearch()"
                        analytics-on="click" analytics-category="Search" analytics-event="Metabolomics">
                <span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
        </div>
    </div>
</form>
