<accordion close-others="false">
    <accordion-group heading="General" is-open="true">
    	<div ng-include="'partials/general.html'">
    	</div>
    </accordion-group>
    <accordion-group heading="Enzymes ({{data.Enzymes.length}}) "  is-open="false">
		<table class="table table-striped table-hover">    
			<tbody>
				<tr ng-repeat="attribute in data.Enzymes" >
					<td>{{attribute}}</td>
				</tr>
			</tbody>  
		</table>
    </accordion-group>
    <accordion-group heading="Names ({{data.Names.length}}) "  is-open="false">
		<table class="table table-striped table-hover">    
			<tbody>
				<tr ng-repeat="attribute in data.Names" >
					<td>{{attribute}}</td>
				</tr>
			</tbody>  
		</table>
    </accordion-group>
    <accordion-group id="db-links" heading=" Databases"  is-open="true">
		<table class="table table-striped table-hover">    
			<tbody>
				<tr ng-repeat="(key,val) in data.DB_links" >
					<td>
					<accordion-group heading="{{key}}"  is-open="false">
					<table class="table table-striped table-hover">    
						<tbody>
							<tr ng-repeat="id in val" >
								<td><a ng-href="{{dbLink(key, id)}}">{{id}}</a></td>
							</tr>
						</tbody>
					</table>
				</accordion-group>
					</td>
				</tr>
			</tbody>  
		</table>
    </accordion-group>
    <accordion-group heading=" Pathways ({{data.Pathways.length+0}}) "  is-open="false">
		<table class="table table-striped table-hover">    
			<tbody>
				<tr ng-repeat="keggMap in data.Pathways" >
					<td><a ng-href="{{mapLink(keggMap)}}">{{keggMap}}</a></td>
				</tr>
			</tbody>  
		</table>
    </accordion-group>
	<accordion-group heading="Simulated Spectra"  is-open="false">
		<div ng-repeat="(key,val) in data.Pos_CFM_spectra">
			<accordion-group heading="Positive Mode {{key}}"  is-open="false">
				<div style="height: 500px">
					<mass-spec ng-if="val.length" ng-model="val">
				</div>
			</accordion-group>
		</div>
		<div ng-repeat="(key,val) in data.Neg_CFM_spectra">
			<accordion-group heading="Negative Mode {{key}}"  is-open="false">
				<div style="height: 500px">
					<mass-spec ng-if="val.length" ng-model="val">
				</div>
			</accordion-group>
		</div>
	</accordion-group>
</accordion>
