<div>
    <div class ="reactant" id="rxn-img" ng-repeat="comp in reaction.Reactants">
        <div style="font-size:16px" ng-if="comp.stoich-1">
            {{comp.stoich}}
        </div>
         <a  ui-sref="acompound.overview({id:comp.c_id})">
            <img ng-mouseover="getCompoundName($event, comp.c_id)" ng-src="{{img_src+comp.c_id}}.svg" err-src="{{img_src+comp.c_id}}.png" width="95">
        </a>
    </div>
    <span style="font-size:40px"> &#8594</span>
    <div class ="reactant" ng-repeat="comp in reaction.Products">
        <div style="font-size:16px" ng-if= "comp.stoich-1">
            {{comp.stoich}}
        </div>
        <a  ui-sref="acompound.overview({id:comp.c_id})">
            <img ng-mouseover="getCompoundName($event, comp.c_id)" ng-src="{{img_src+comp.c_id}}.svg" err-src="{{img_src+comp.c_id}}.png" width="95">
        </a>
    </div>
</div>