<div>
    <div class="reactant" ng-repeat="comp in reaction.Reactants">
        <div style="font-size:30px; margin-right: 10px;" ng-if="$index > 0">+</div>
        <div style="font-size:30px; margin-right: 5px;" ng-if="comp[0]">{{comp[0]}}</div>
        <a ui-sref="acompound.overview({id:comp[1],db:db})">
            <canvas class="compound-image" data-smiles="{{comp[2]}}" width="100" height="100"></canvas>
        </a>
    </div>
    <span style="font-size:60px;"> &#8594</span>
    <div class="reactant" ng-repeat="comp in reaction.Products">
        <div style="font-size:30px; margin-right: 10px;" ng-if="$index > 0">+</div>
        <div style="font-size:30px; margin-right: 5px;" ng-if="comp[0]">{{comp[0]}}</div>
        <a ui-sref="acompound.overview({id:comp[1],db:db})">
            <canvas class="compound-image" data-smiles="{{comp[2]}}" width="100" height="100"></canvas>
        </a>
    </div>
</div>