<div ng-controller="rxnListCtl">
	<div class="col-md-4">
		<br><input id="rxn-filter" class=form-control type="text" ng-model="searchOn" placeholder="Filter by EC class">
	</div>
	<pagination class="pull-right" total-items="items" page="currentPage" max-size="maxSize" class="pagination-sm"
				items-per-page="numPerPage"  style="{cursor: pointer; vertical-align: top}"></pagination>
	<br>
	<table class="table table-striped table-hover">
		<tbody>
			<tr ng-repeat="reaction in filteredData track by reaction._id">
				<td style="vertical-align:middle">
					<div ng-repeat="op in reaction.Operators" style="font-size: 16px">
						<a  ui-sref="operator({id:op})">
							{{op}}
						</a>
					</div>
				</td>
				<td>
					<div ng-include="'partials/old-reaction-diagram.html'" ng-if="reaction.Reactants[0].length > 1"></div>
					<div ng-include="'partials/reaction-diagram.html'" ng-if="reaction.Reactants[0].stoich"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<img ng-hide="filteredData" class="center-block"
		 src="../img/Gray_circles_rotate.gif"
		 width="50">
	<pagination class="pull-right" total-items="items" page="currentPage" max-size="maxSize" class="pagination-sm"
				items-per-page="numPerPage"  style="cursor: pointer;"></pagination>
</div>