<div ng-model="molstrng">
    <div class="container">
        <div class="col-md-8" id="canvas">
            <iframe src="editorws.html" id="sketch" class="sketcher-frame"
                    style="width: 100%; height: 590px; border: 1px gray
                    solid"></iframe>
        </div>
        <div class="col-md-4">
            <fieldset>
                <div id="search-options">
                <legend>Search Type</legend>
                <div class="radio">
                    <label class="radio" for="type_exact">
                        <input id="type_exact" name="search_type" type="radio" value="exact" ng-model="stype">
                        Exact
                    </label>
                </div>
                <div class="radio">
                    <label class="radio" for="type_similarity">
                        <input data-similarity="true" id="type_similarity" name="search_type" type="radio" value="similarity" ng-model="stype">
                        Similarity
                    </label>
                </div>
                <div class="radio">
                    <label class="radio" for="type_substructure">
                        <input id="type_substructure" name="search_type" type="radio" value="substructure"  ng-model="stype">
                        Substructure
                    </label>
                </div>
                    </div>
                <div>
                <legend>Options</legend>
                <div id="sim-thresh" class="form-group"><label for="similarity">Similarity threshold
                    <span tooltip-trigger tooltip="This is a minimum value for chemical similarity to the query
                    structure. Ranges from 0 to 1." class="glyphicon glyphicon-question-sign"></span></label>
                    <input class="form-control input-sm" ng-model="sthresh" id="similarity" name="similarity" type="text" value="0.7" >

                </div>

                <div class="form-group"><label for="max_results">Maximum Results</label>
                    <select class="input-sm form-control" id="max_results" name="max_results"
                            ng-options="option for option in maxres_options" ng-model="maxres">
                    </select>
                </div>
                <button id = "btn-molExport" class="btn  btn-primary" ng-click="find()" analytics-on="click"
                        analytics-category="Search" analytics-event="Structure"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </fieldset>
            <br>
            <a class="pull-right" href="http://www.chemaxon.com">
                <img width="100%" border="0"
                     src="../img/powered_by_chemaxon_GOLD_M.png" alt="ChemAxon">
            </a>
        </div>
    </div>
</div>

<script src="js/lib/rainbow/rainbow-custom.min.js"></script>
<script src="js/lib/marvinjslauncher.js"></script>